@keyframes menuin {
    0%{}
    100%{
        transform: translateX(15px) translateY(5px);
        text-shadow: rgb(255, 150, 255, 0.9) -15px -5px 10px;
    }
}
@keyframes menuout {
    0%{
        transform: translateX(15px) translateY(5px);
        text-shadow: rgb(255, 150, 255, 0.9) -15px -5px 10px;
    }
    100%{}
}


body{
    margin: 0;
    background-image:url(/pictures/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.strona{
    width: 80vw;
    height: 100vh;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.navigation{
    background-color: rgb(10, 10, 10, 0.95);
    width: 200px;
    height: calc(100% - 30px);
    float: left;
}
.navigation img{
    width: 200px;
    height: auto;
}
.navigation ul{
    list-style: none;
    font-size: 180%;
    font-family: Comic Sans MS;
}
.navigation li{
    padding-top: 30px;
    animation: menuout 0.3s both ;
}
.navigation a{
    color: rgb(185, 5, 205);
    text-decoration: none;
}
.menu{
    font-size: 140%;
}
.navigation li:hover{
    animation: menuin 0.3s both ;
}
.content{
    background-color: rgb(20, 20, 20, 0.98);
    width: calc(100% - 200px);
    height: calc(100% - 30px);
    float: right;
}
.footer{
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 30px;
    float: left;
}
.footer p{
    color: whitesmoke;
    margin-left: 80px;
    margin-bottom: 0;
    margin-top: 6px;
}