@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        background-color: white;
    }
}
@keyframes color{
    0%{
        background-color: white;
    }
    50%{
        background-color: rgb(255, 35, 35);
    }
    100%{
        background-color: white;
    }
}

body{
    background-color: rgb(20, 20, 20);
    margin: 0px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
img{
    z-index: 1;
}
.strona{
    justify-content: center;
    align-items: center;
    display: flex;
}

.k1{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-450px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 2s both infinite ease;
}
.k2{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-430px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 2.5s both infinite ease;
}
.k3{
    height: 400px;;
    width: 20px;
    transform: translateY(-200px) translateX(-410px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 3s both infinite ease;
}
.k4{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-390px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 3.5s both infinite ease;
}
.k5{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-370px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 4s both infinite ease;
}
.k6{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-350px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 4.5s both infinite ease;
}
.k7{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-330px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 5s both infinite ease;
}
.k8{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-310px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 5.5s both infinite ease;
}
.k9{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-290px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 6s both infinite ease;
}
.k10{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-270px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 6.5s both infinite ease;
}
.k11{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-250px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 2s both infinite ease;
}
.k12{
    height: 400px;
    width: 20px;
    transform: translateY(-200px) translateX(-230px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 2.5s both infinite ease;
}
.k13{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-210px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 3s both infinite ease;
}
.k14{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-190px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 3.5s both infinite ease;
}
.k15{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-170px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 4s both infinite ease;
}
.k16{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-150px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 4.5s both infinite ease;
}
.k17{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-130px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 5s both infinite ease;
}
.k18{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-110px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 5.5s both infinite ease;
}
.k19{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-90px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 6s both infinite ease;
}
.k20{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-70px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 6.5s both infinite ease;
}
.k21{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-50px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 2s both infinite ease;
}
.k22{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-30px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 2.5s both infinite ease;
}
.k23{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(-10px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 3s both infinite ease;
}
.k24{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(10px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 3.5s both infinite ease;
}
.k25{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(30px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 4s both infinite ease;
}
.k26{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(50px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 4.5s both infinite ease;
}
.k27{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(70px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 5s both infinite ease;
}
.k28{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(90px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 5.5s both infinite ease;
}
.k29{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(110px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 6s both infinite ease;
}
.k30{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(130px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 6.5s both infinite ease;
}
.k31{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(150px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 2s both infinite ease;
}
.k32{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(170px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 2.5s both infinite ease;
}
.k33{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(190px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 3s both infinite ease;
}
.k34{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(210px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 3.5s both infinite ease;
}
.k35{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(230px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 4s both infinite ease;
}
.k36{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(250px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 4.5s both infinite ease;
}
.k37{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(270px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 5s both infinite ease;
}
.k38{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(290px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 5.5s both infinite ease;
}
.k39{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(310px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 6s both infinite ease;
}
.k40{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(330px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 6.5s both infinite ease;
}
.k41{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(350px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 2s both infinite ease;
}
.k42{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(370px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 2.5s both infinite ease;
}
.k43{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(390px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 3s both infinite ease;
}
.k44{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(410px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 3.5s both infinite ease;
}
.k45{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(430px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 4s both infinite ease;
}
.k46{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(450px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 4.5s both infinite ease;
}
.k47{
    height: 850px;
    width: 20px;
    transform: translateY(25px) translateX(470px);
    position: absolute;
    float: left;
    animation: 
        appear 2s 1s both linear,
        color 3s 5s both infinite ease;
}